/* styles.css */

section {
  margin-top: 100vh;
  padding: 2rem;
  background-color: var(--light-secondary);
  transition: background-color var(--transition-standard);
}
.dark-mode section {
  background-color: var(--dark-secondary);
}
.page-layout {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.content-wrapper {
  padding: var(--page-padding) 0;
  display: grid;
  grid-template-columns: auto 1fr; /* Main content | Navigation */
  transition: transform var(--transition-standard); /* Animate the transformation */
  gap: 4rem; /* Space between content and navigation */
  color: var(--dark-primary);
}

.content-wrapper.rtl {
  grid-template-columns: 1fr auto; /*FLIPPED Navigation | Main content */
  transform: scaleX(-1); /* Flip horizontally */
}

.content-wrapper > * {
  transition: transform var(--transition-standard); /* Ensure children transition with the container */
  transform: scaleX(1); /* Default non-flipped state */
}

.content-wrapper.rtl > * {
  transform: scaleX(-1); /* Flip children when the container has class 'rtl' */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  width: 100%; /* Take up 90% of available width */
  margin: 0 auto; /* Center the container */
  padding: 0; /* Remove padding since page-wrapper handles it */
  overflow-x: hidden;
  position: relative; /* Create positioning context */
  background-color: var(--light-primary);
  transition: background-color var(--transition-standard);
}

h1,
h2,
h3,
p,
span,
a,
footer {
  color: inherit;
  font-family: var(--font-primary);
  text-decoration: none;
}

/* Main content grows to fill space between header and footer */
h2 {
  font-family: var(--font-primary);
  font-weight: bolder;
  font-size: var(--font-size-h2);
  line-height: 1;
  text-align: left;
  width: 100%;
  user-select: none;
  position: relative;
  margin-bottom: 1rem;
}

h2.section-header {
  margin-top: var(--page-padding);
}

h3 {
  font-family: var(--font-primary);
  font-weight: bolder;
  font-size: var(--font-size-h3);
}

p {
  font-family: var(--font-primary);
  font-weight: normal;
  font-size: 1.3rem;
  line-height: var(--line-height-text);
  text-align: left;
  width: 100%;
  position: relative;
}

main {
  flex: 1; /* Take up all available space */
  position: relative; /* Create stacking context */
  z-index: 1; /* Place behind navbar */
  margin-top: 0; /* Remove negative margin */
}

.text-block {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}
.dummy-content {
  min-height: 200vh; /* 2x viewport height to force scroll */
}
