.tech-grid-container {
  margin: 1rem 0;
  padding: 1rem;
  width: var(--card-width);
  background-color: var(--light-secondary);
  transition: background-color var(--transition-standard);
}

.project-category {
  max-width: fit-content;
}

.tech-stack-grid {
  display: grid;
  grid-template-columns: minmax(0, 90px) repeat(auto-fill, minmax(80px, 1fr));
  align-items: center;
  column-gap: 2rem; /* Adjust horizontal spacing between columns */
  row-gap: 2rem; /* Adjust vertical spacing between rows */
}

.tech-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center icon and label vertically */
  justify-content: start; /* Align to the start of the container */
  color: inherit;
  
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition: transform var(--transition-quick);
  
  padding: 0.5rem; /* Keep padding minimal */
  gap: 0.5rem; /* Ensure reasonable spacing between icon and label */
}

.tech-label {
  font-family: var(--font-primary);
  font-size: var(--footer-text-size);
  font-weight: bold;
  color: var(--dark-primary);
}

.tech-icon {
  flex-shrink: 0; /* Prevent icon shrinking */
  width: 32px;
  height: 32px;
}

.tech-container:hover {
  transform: scale(1.1);
}

/* .tech-icon-wrapper:focus {
  outline: 2px solid var(--dark-primary);
  border-radius: 4px;
} */

/* .tech-icon-contai::-moz-list-number::after {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dark-primary);
  color: var(--light-primary);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
} */
