footer {
  position: fixed; /* Change from static to fixed */
  bottom: 0; /* Stick to bottom */
  left: 0;
  width: 100%;
  background-color: var(--light-secondary);
  z-index: 999; /* Keep above content but below navbar */
  padding: 0; /* Add some padding */
  display: flex; /* Add flex to center social-nav */
  justify-content: center; /* Center horizontally */
  transition: transform var(--transition-standard),
    background-color var(--transition-standard);
  color: inherit; /* Keep text color */
}

footer.hidden {
  transform: translateY(100%);
}

.footer-container {
  display: flex;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;

  /* Match page-layout since position:fixed */
  max-width: var(--max-width);
  width: 100%;
  padding: 0 var(--page-padding);
}

.social-group {
  display: flex;
  gap: clamp(10px, 4vw - 1rem, 1rem);
  margin-left: auto;
}

.social-item {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline from link */
  cursor: pointer;
}

.social-img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1; /* Keep square */
  opacity: var(--opacity-light);
  transition: opacity 0.2s ease;
  border-radius: 50%; /* Round the corners */
}

.github-icon {
  content: url("../../assets/github-mark.png");
}


/* Base styles with transition */
.social-label {
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--footer-text-size);
  padding-left: 5px;
}
.social-img,
.social-label {
  opacity: var(--opacity-light);
  transition: opacity var(--transition-quick);
  cursor: inherit;
}

/* Single hover rule for the entire item */
.social-item:hover .social-img,
.social-item:hover .social-label {
  opacity: 1;
  cursor: pointer;
}
