.header-container {
  position: relative;
  height: clamp(50px, 20vw - 100px, 200px);
  display: flex;
  align-items: center;
  z-index: 2;
  overflow: hidden; /* Clip content that overflows vertically */
}

/* Common styles for both images */
.headerIMG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full viewport width */
  height: clamp(50px, 20vw - 100px, 200px);
  object-fit: cover;
  object-position: center;
  z-index: 1;
  transition: opacity var(--transition-standard); /* Add opacity transition */
}

/* Light mode image visible by default */
.headerIMG-light {
  opacity: 1;
}

/* Dark mode image hidden by default */
.headerIMG-dark {
  opacity: 0.3;
}

h1 {
  font-family: var(--font-primary);
  font-weight: bolder;
  font-size: var(--font-size-h1);
  color: var(--dark-primary);
  line-height: var(--line-height-heading);
  margin: 0;
  padding: clamp(0rem, 10vw - 5rem, 5rem) 0;
  padding-bottom: 0;
  margin-bottom: clamp(0rem, 10vw - 5rem, 0.5rem);
  text-align: left;
  width: 100%;
  user-select: none;
  position: relative;
  z-index: 2;
}
