.navbar-container {
  position: sticky;
  align-self: start;
  top: clamp(50px, 20vw - 100px, 100px);
  width: fit-content;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0;
  margin: 0;
  user-select: none;
  backdrop-filter: blur(10px); /* Optional: add blur effect behind nav */
  border-radius: 8px; /* Optional: rounded corners */
}

.nav-header {
  font-family: "Source Sans 3", system-ui, sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: left;
}

.nav-item {
  display: grid;
  grid-template-columns: 1fr 25px 1fr;
  align-items: center;
}

.nav-item span {
  font-family: "Source Sans 3", system-ui, sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  opacity: var(--opacity-light);
  transition: opacity 0.2s ease;
  transition: transform 0.2s ease; /* Smoothly animate translateX over 0.5 seconds */
  text-align: left;
}
.nav-item span:nth-child(2) {
  text-align: center;
}

/* RTL nav doesn't affect mobile navbar  */
@media screen and (min-width: 768px) {
  .content-wrapper.rtl .nav-item span:nth-child(2) {
    text-align: left;
  }
  .content-wrapper.rtl .nav-item {
    grid-template-columns: 1fr 14px 1fr;
  }
  .content-wrapper.rtl .nav-item span:nth-child(1) {
    order: -1;
  }
  .content-wrapper.rtl .nav-item span:nth-child(2) {
    order: -2;
  }
  .content-wrapper.rtl .nav-item span:nth-child(3) {
    order: -3;
    padding-left: 0px;
  }
}

.nav-item:hover span {
  transform: translateX(1rem);
  opacity: 1;
}

.nav-item.rtl:hover span {
  transform: translateX(-1rem);
  opacity: 1;
}
