:root {
  --footer-width: 60px;
  --footer-height: 30px;
  --footer-border-radius: 15px;
  --footer-knob-size: 24px;
  --footer-knob-margin: 3px;
  --footer-text-size: 14px;
  --box-shadow-light: -5px -3px 10px rgba(255, 255, 255, 0.6);
  --box-shadow-dark: 7px 5px 1px rgba(0, 0, 0, 0.3);
}

.switch-container {
  font-family: var(--font-primary);
  font-weight: bold;
  position: relative;
  display: inline-block;
  width: var(--footer-width);
  height: var(--footer-height);
  opacity: var(--opacity-light);
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* L background*/
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-primary);
  border-radius: var(--footer-border-radius); /* round corners */
  transition: background-color var(--transition-standard),
    transform var(--transition-standard), box-shadow var(--transition-standard);
  box-shadow: var(--box-shadow-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0;
}

/* L knob */
.switch-slider:before {
  position: absolute;
  content: "L";
  display: grid;
  place-items: center;
  height: var(--footer-knob-size);
  width: var(--footer-knob-size);
  left: var(--footer-knob-margin);
  bottom: var(--footer-knob-margin);
  background-color: var(--light-primary);
  border-radius: 50%;
  transition: transform var(--transition-standard),
    background-color var(--transition-standard),
    color var(--transition-standard);
  color: var(--dark-primary);
  font-weight: bold;
  font-size: var(--footer-text-size);
  z-index: 2;
}

/* Web ONLY */
.switch-slider:after {
  content: "R";
  color: var(--light-primary);
  font-weight: bold;
  font-size: var(--footer-text-size);
  grid-column: 2;
  z-index: 1;
  position: relative;
}

/* R color on Knob */
.switch-input:checked + .switch-slider:before {
  transform: translateX(
    calc(
      var(--footer-width) - var(--footer-knob-size) - var(--footer-knob-margin) *
        2
    )
  );
  content: "R";
  background-color: var(--dark-primary);
  color: var(--light-primary);
}

/* Web Only */
.switch-input:checked + .switch-slider:after {
  content: "L";
  grid-column: 1;
  color: var(--dark-primary);
  position: relative;
  z-index: 1;
}

/* R background on knob*/
.switch-input:checked + .switch-slider {
  background: var(--light-primary);
}

.switch-container:hover {
  transition: all var(--transition-quick);
  opacity: 1;
}

.theme-slider:before {
  content: "";
  background-color: var(--light-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity var(--transition-standard);
}

.moon-icon {
  right: 20%;
  opacity: 0;
}

.sun-icon {
  left: 20%;
  opacity: 1;
}

.icon-path {
  fill: var(--dark-primary);
  transition: fill var(--transition-standard);
}

.dark-mode .icon-path {
  fill: var(--light-primary);
}

.dark-mode .moon-icon {
  opacity: 1;
}

.dark-mode .sun-icon {
  opacity: 0;
}


.switch-group {
  display: flex;
  gap: clamp(10px, 4vw - 1rem, 1rem);
  align-items: center;
  margin: 1rem 0;
  margin-right: auto; /* Force items to the right */
}

.direction-slider:before {
  content: "L";
}

.direction-slider:after {
  content: "R";
}

.theme-slider:before,
.theme-slider:after {
  content: "" !important;
}

.random-theme-button {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--footer-text-size);
  min-width: fit-content;
  height: var(--footer-height);
  padding: 0.5rem 0.5rem;
  border-radius: var(--footer-border-radius);
  border: none;
  background: var(--dark-primary);
  color: var(--light-primary);
  box-shadow: var(--box-shadow-dark);
  opacity: var(--opacity-light);
  cursor: pointer;
  transition: opacity var(--transition-quick),
    box-shadow var(--transition-standard);
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-theme-button span {
  display: none;
}

.random-theme-button::after {
  content: "Theme"; /* Default text */
  text-align: center;
  width: 100%;
  white-space: nowrap; /* Prevent text wrap */
}

.random-theme-button:hover {
  opacity: 1;
}
