/* Dark mode styles */
.dark-mode {
  transition: background-color var(--transition-standard);
  background-color: var(--dark-primary);
}

.dark-mode h1 {
  color: var(--light-secondary);
}

.dark-mode .content-wrapper {
  color: var(--light-secondary);
}

.dark-mode footer {
  background-color: var(--dark-secondary);
}

.dark-mode .socials {
  opacity: var(--opacity-light);
}

.dark-mode .social-item:hover .socials,
.dark-mode .social-item:hover .social-label {
  opacity: 1;
}

.dark-mode .social-label {
  color: var(--light-primary);
}

body.dark-mode .github-icon {
  content: url("../../assets/github-mark-white.png");
}
/* Add more dark mode styles as needed */
