/* MOBILE SETTINGS */

* {
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 768px) {
  /* LAYOUT */
  :root {
    --max-width: 100%;
    --page-padding: 2rem;
  }

  .content-wrapper {
    padding: 1.5rem 0;
    gap: 2rem;
  }

  /* SLIDER */
  :root {
    --switch-width: 30px;
    --box-shadow-light: -1px -1px 3px rgba(255, 255, 255, 0.6);
    --box-shadow-dark: 1px 1px 3px rgba(0, 0, 0, 0.3);
    --box-shadow-knob: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  /* NAVBAR */
  .nav-item {
    grid-template-columns: 1fr; /* Only one column instead of three */
  }

  .nav-item span:nth-child(1) {
    padding-top: 5px; /* Add padding to top of each element*/
  }

  /* When parent has rtl class, change grid-column to 1 to be 'left' */
  .content-wrapper.rtl .nav-item span:nth-child(1) {
    grid-column: 1;
  }

  .nav-item span:nth-child(2),
  .nav-item span:nth-child(3) {
    display: none; /* Remove completely from flow */
  }
}
